.ui-card {
  width: 100%;
  height: 8.32rem;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  box-shadow: 0px 0px 0.64rem rgba(0, 0, 0, 0.2); }
  .ui-card-s1 {
    background: url("../i/card_bg.png") 0 0 repeat-x; }
  .ui-card .ui-card-name {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    font-size: 0.85333rem;
    color: #fff;
    text-shadow: 1px 1px 10px #e78c2d; }
  .ui-card .ui-card-cnt {
    text-align: center; }
  .ui-card .ui-card-info {
    color: #fff; }
    .ui-card .ui-card-info .name {
      font-size: 0.85333rem; }
    .ui-card .ui-card-info .info {
      font-size: 0.64rem; }
    .ui-card .ui-card-info .card-no {
      font-size: 0.42667rem; }
  .ui-card .ui-card-thumb {
    width: 2.98667rem;
    height: 2.98667rem;
    border: 0.17067rem solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    box-sizing: content-box;
    border-radius: 50%; }
    .ui-card .ui-card-thumb img {
      width: 2.98667rem;
      height: 2.98667rem;
      border-radius: 50%;
      background: #fff; }

.button {
  height: 2.06933rem;
  line-height: 2.06933rem;
  font-size: 0.768rem; }
  .button.button-big {
    height: 2.06933rem;
    line-height: 2.06933rem;
    font-size: 0.768rem; }
  .button.button-fill.button-big {
    background: #ff8739;
    line-height: 2.06933rem; }
  .button.button-fill.active, .button.button-fill:active {
    background: #F97926; }
  .button.disabled.button-fill {
    background: #ff8739;
    opacity: 0.5; }

.button.disabled.button-fill:active, .button.button-primary.disabled.button-fill:active, .button.button-success.disabled.button-fill:active, .button.button-danger.disabled.button-fill:active, .button.button-warning.disabled.button-fill:active {
  background: #ff8739;
  opacity: 0.5; }

/* RADIO */
.regular-radio {
  display: none; }

.radio-box {
  margin-right: 3rem;
  margin-top: 0.3rem;
  float: left; }

.regular-radio + label {
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #cacece;
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative; }
  .regular-radio + label .radio-w {
    position: absolute;
    right: -1.2rem;
    top: 0;
    font-size: 0.768rem; }

.regular-radio:checked + label:after {
  content: ' ';
  width: 6px;
  height: 6px;
  border-radius: 50px;
  position: absolute;
  top: 6px;
  background: #fff;
  left: 6px;
  font-size: 32px; }

.regular-radio:checked + label {
  background-color: #05b91e;
  color: #99a1a7;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1); }

.regular-radio + label:active, .regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

.big-radio + label {
  padding: 16px; }

.big-radio:checked + label:after {
  width: 24px;
  height: 24px;
  left: 4px;
  top: 4px; }

body {
  font-family: Arial,Verdana,"Microsoft YaHei";
  font-size: 0.768rem;
  color: #666; }

/* function */
.f-cb:after, .f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "."; }

.f-cb, .f-cbli li {
  zoom: 1; }

.clear {
  clear: both;
  height: 0px;
  overflow: hidden; }

.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.f-dn {
  display: none; }

.f-bn {
  border: none !important; }

.f-bgn {
  background-image: none !important; }

.f-db {
  display: block; }

.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-pr {
  position: relative; }

.f-ps {
  position: static !important; }

.f-prz {
  position: relative;
  zoom: 1; }

.f-oh {
  overflow: hidden; }

.f-ff0 {
  font-family: arial,\5b8b\4f53; }

.f-ff1 {
  font-family: "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53; }

.f-fs12 {
  font-size: 12px; }

.f-fs14 {
  font-size: 14px; }

.f-fs16 {
  font-size: 16px; }

.f-fs18 {
  font-size: 18px; }

.f-fs20 {
  font-size: 20px; }

.f-fs24 {
  font-size: 24px; }

.f-fwn {
  font-weight: normal; }

.f-fwb {
  font-weight: bold; }

.f-tal {
  text-align: left; }

.f-tac {
  text-align: center; }

.f-tar {
  text-align: right; }

.f-taj {
  text-align: justify;
  text-justify: inter-ideograph; }

.f-vam, .f-vama * {
  vertical-align: middle; }

.f-wsn {
  word-wrap: normal;
  white-space: nowrap; }

.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all; }

.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all; }

.f-ti {
  overflow: hidden;
  text-indent: -30000px; }

.f-ti2 {
  text-indent: 2em; }

.f-lhn {
  line-height: normal; }

.f-tdu, .f-tdu:hover {
  text-decoration: underline; }

.f-tdn, .f-tdn:hover {
  text-decoration: none; }

.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis; }

.f-csp {
  cursor: pointer; }

.f-csd {
  cursor: default; }

.f-csh {
  cursor: help; }

.f-csm {
  cursor: move; }

.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

a {
  color: #333; }

input:-webkit-autofill {
  background-color: #fff;
  background-image: none;
  color: #000; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; }

.nav-list {
  height: 0.21333rem;
  margin: 0.21333rem 0.32rem 0.21333rem 0.32rem; }

.list-block {
  margin: 0.2rem 0 1.5rem 0;
  position: relative; }
  .list-block .item-title.label {
    width: 20%; }

.list-block .item-content.notPadding {
  padding-left: 0; }
  .list-block .item-content.notPadding .item-media + .item-inner {
    margin-left: 0 !important;
    padding-left: 0.75rem; }

.page, .page-group {
  background: #fff; }

/*login apply*/
.page-login .list-block, .page-apply .list-block {
  position: relative; }

.page-login .item-content, .page-apply .item-content {
  padding-left: 0; }

.page-login .list-block ul:before, .page-apply .list-block ul:before {
  display: none; }

.page-login .item-inner, .page-apply .item-inner {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  min-height: 3rem; }

.page-login .err, .page-apply .err {
  position: absolute;
  left: 0;
  bottom: -1.49333rem;
  color: #ff8739; }
  .page-login .err i, .page-apply .err i {
    display: inline-block;
    width: 0.85333rem;
    height: 0.85333rem;
    background: url("../i/ico_alert.png");
    background-size: 100% 100%;
    margin-right: 0.29867rem;
    vertical-align: -0.1rem; }

.page-login .item-input, .page-apply .item-input {
  position: relative; }
  .page-login .item-input .btn-em, .page-apply .item-input .btn-em {
    position: absolute;
    top: 0.8rem;
    right: 0;
    width: 0.98133rem;
    height: 0.98133rem;
    background: url("../i/ico_errow.png") 0 0;
    background-size: 100% 100%;
    display: none; }
  .page-login .item-input.hasInput .btn-em, .page-apply .item-input.hasInput .btn-em {
    display: block; }

.page-apply .btn-bind .icon-right {
  vertical-align: baseline;
  margin-left: 0.2rem; }

.page-apply .item-inner {
  padding-right: 0; }

.page-apply .verification .col-50 {
  width: 45%; }

.page-apply .verification .col-60 {
  width: 50%;
  margin-left: 0; }

.page-apply .btn-get-code {
  padding: 0 0.2rem; }

.page-apply .btn-get-code.disabled {
  background: #e6e6e6;
  border-color: #e6e6e6;
  color: #666; }

.page-record .list-container:before {
  display: none; }

.page-record .item-title-type {
  display: block;
  color: #000; }

.page-record .item-title-time {
  margin: 0;
  font-size: 0.512rem;
  color: #999; }

.page-record .item-inner {
  padding-left: 0.75rem; }

.page-record .item-after-value-in, .page-record .item-after-value-out {
  font-size: 0.85333rem;
  color: #05b91e;
  font-family: Arial;
  font-weight: bold; }

.page-record .item-after-value-out {
  color: #ff8739; }

.personal-list .item-after {
  color: #999; }

.personal-list ul:before {
  display: none; }

.personal-list .item-title.label {
  width: 30%; }
