// variable
@charset "utf-8";
$color-normal:#333;
$color-gray: #999;
$color-yellow: #ff8739;
$color-yellow-light: #fea46b;
$color-yellow-dark: #F97926;
$font-size-normal:36px;
$baseLineHeight:1.5 !default;
